# Nov 26, 2019 NLP TF-IDF
* Name: Jikhan Jeong
* http://doc.mindscale.kr/km/unstructured/03.html

In [6]:
import os
import pandas as pd

In [11]:
os.chdir('/data/cahnrs/jikhan.jeong/nlp/review')

In [12]:
os.getcwd()

'/data/cahnrs/jikhan.jeong/nlp/review'

In [13]:
df = pd.read_csv('amazon_cells_labelled.txt', sep="\t", header=None) # tab without column name

In [14]:
df.head(3)

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [15]:
content = df[0]

In [16]:
sentiment = df[1]

# TDF
* https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tfidf = TfidfVectorizer(stop_words='english', # stop_words : string {‘english’}
                        lowercase=True,       # lowercase : boolean (default=True) Convert all characters to lowercase before tokenizing.
                        max_features=1000)

In [19]:
tdm = tfidf.fit_transform(content)

In [20]:
tdm

<1000x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 4060 stored elements in Compressed Sparse Row format>

In [21]:
tfidf.get_feature_names()[-10:]

['worthless',
 'worthwhile',
 'wouldn',
 'wow',
 'wrong',
 'wrongly',
 'year',
 'years',
 'yell',
 'yes']

# Example TfidfVectorizer
* Ref: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [41]:
corpus = [
...     'This is the first document.',
...     'This document is the second document.',
...     'And this is the third one.',
...     'Is this the first document?',
... ]

In [42]:
corpus

['This is the first document.',
 'This document is the second document.',
 'And this is the third one.',
 'Is this the first document?']

In [43]:
vectorizer = TfidfVectorizer()

In [44]:
X = vectorizer.fit_transform(corpus)

In [45]:
print(vectorizer.get_feature_names())

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [46]:
print(X.shape)

(4, 9)

In [50]:
X

<4x9 sparse matrix of type '<class 'numpy.float64'>'
	with 21 stored elements in Compressed Sparse Row format>

# saving as pkl
* joblib is a library for saving file as pkl

In [22]:
from sklearn.externals import joblib

/opt/apps/anaconda3/19.10.0/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [23]:
with open('amazon.pkl', 'wb') as f:
    joblib.dump(
        {'vectorizer': tfidf, 'tdm': tdm, 'sentiment': sentiment},
        f
    )

# Frequncy of Word

In [24]:
from sklearn.externals import joblib

In [25]:
with open('amazon.pkl', 'rb') as f:
    data = joblib.load(f)

In [26]:
locals().update(data)

In [28]:
data

{'vectorizer': TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                 dtype=<class 'numpy.float64'>, encoding='utf-8',
                 input='content', lowercase=True, max_df=1.0, max_features=1000,
                 min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                 smooth_idf=True, stop_words='english', strip_accents=None,
                 sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                 tokenizer=None, use_idf=True, vocabulary=None),
 'tdm': <1000x1000 sparse matrix of type '<class 'numpy.float64'>'
 	with 4060 stored elements in Compressed Sparse Row format>,
 'sentiment': 0      0
 1      1
 2      1
 3      0
 4      1
       ..
 995    0
 996    0
 997    0
 998    0
 999    0
 Name: 1, Length: 1000, dtype: int64}

In [29]:
tfidf

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=1000,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

# Sum of usage of word frequency 
* sum(axis=0) column sum

In [34]:
count = tdm.sum(axis=0)

In [52]:
count.shape

(1, 1000)

# Word : Frequnecy

In [36]:
word_count = pd.DataFrame({
    'word': vectorizer.get_feature_names(),
    'frequency': count.flat})

In [37]:
word_count.tail()

        word  frequency
995  wrongly   0.396701
996     year   3.274197
997    years   3.972779
998     yell   0.539954
999      yes   0.638298

# Sort by the highest frequency: .sort_values()

In [38]:
sorted_df = word_count.sort_values('frequency', ascending=False)

In [39]:
sorted_df.head()

        word  frequency
459    phone  46.663864
310    great  40.657307
306     good  29.231608
522  product  23.608777
985    works  21.664389